---
import Header from '../components/Header.vue';

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
  address?: string;
  email?: string;
}

const { 
  title, 
  description = "",
  image = '/social-image.jpg',
  type = 'website',
  address = 'Kampus Hybernská, Praha',
  email = 'contact@example.com'
} = Astro.props;

declare global {
  interface ImportMetaEnv {
    PUBLIC_SITE_URL: string;
  }
}

const canonicalURL = new URL(Astro.url.pathname, import.meta.env.PUBLIC_SITE_URL);
---
<div className="primary-container">
  <Header/>
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <nav class="menu-box">
        <div class="nav-logo">
          <a href="/">
            <img src="/assets/images/mobile-logo.png" alt="" title=""/>
          </a>
        </div>
        <div class="menu-outer"></div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>{address}</li>
                <li><a href="mailto:{$email}">{email}</a></li>
            </ul>
        </div> 
    </nav>
</div>




<style is:global>
  @import '../assets/css/animate.css';
  @import '../assets/css/bootstrap.css';
  @import '../assets/css/flaticon.css';
  @import '../assets/css/font-awesome-all.css';
  @import '../assets/css/jquery.fancybox.min.css';
  @import '../assets/css/responsive.css';
  @import '../assets/css/style.css';
  @import '../assets/css/switcher-style.css';
</style>

<script>
  import '../assets/js/jquery.js';
  import '../assets/js/popper.min.js';
  import '../assets/js/bootstrap.min.js';
  import '../assets/js/owl.js';
  import '../assets/js/wow.js';
  import '../assets/js/validation.js';
  import '../assets/js/jquery.fancybox.js';
  import '../assets/js/appear.js';
  import '../assets/js/jquery.countTo.js';
  import '../assets/js/scrollbar.js';
  import '../assets/js/tilt.jquery.js';
  import '../assets/js/jQuery.style.switcher.min.js';
  import '../assets/js/script.js';
</script>
