---
import Layout from '../layouts/Layout.astro';
import * as contact from '../content/contact.md';
import {Content as ContactContent} from '../content/contact.md';
import { render } from 'astro:content';
---

<Layout 
  title={contact.frontmatter.title} 
  description={`${contact.frontmatter.title} - CyberspaceLab`}
>
  <section class="page-title" style="background-image: url('/assets/images/banner/banner.png')">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-8 col-md-12 col-sm-12 content-column" id="cstmmobiletitle">
          <div class="content-box clearfix">
            <div class="title pull-left">
              <h1>Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section">
    <section class="details">
      <div class="auto-container">
        <div class="research-details-content">
          <div class="upper-box">
            <div class="text">
              <ContactContent />
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="auto-container">
      <div class="row clearfix">
        <div class="info-column">
          <div class="info-inner">
            <div class="sec-title left">
              <h3>Contact information</h3>
            </div>
            <ul class="info-box clearfix">
              <li>
                <div class="icon-box"><i class="flaticon-lab"></i></div>
                <div class="info-box-text">
                  <h5>Email</h5>
                  <p>{contact.frontmatter.email}</p>
                </div>
              </li>
              <li class="dress-info-box">
                <div class="icon-box"><i class="flaticon-marker"></i></div>
                <div class="info-box-text">
                  <h5>Address</h5>
                  <p>{contact.frontmatter.address}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
