---
import Layout from '../../layouts/Layout.astro';
import PublicationCard from '../../components/PublicationCard.vue';
import { getCollection } from 'astro:content';
const publications = await getCollection('publications');

publications.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));
---

<Layout title="Our Publications">
  <section class="page-title" style="background-image: url('/assets/images/background/prague_ominous.png')">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-8 col-md-12 col-sm-12 content-column" id="cstmmobiletitle">
          <div class="content-box clearfix">
            <div class="title pull-left">
              <h1>Our Publications</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="research-details">
    <div class="auto-container">
      <div class="research-details-content">
        {publications.map((pub) => (
          <PublicationCard publication={pub} />
        ))}
      </div>
    </div>
  </section>
</Layout> 